@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');
* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
    background: url('../img/fon.jpg') 50% no-repeat;
    background-size: cover;
    position: relative;
}

.opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}

.top {
    position: absolute;
    width: 100%;
    padding: 30px 35px 0 55px;
}

.logo {
    float: left;
}

.social {
    float: right;
}

.social img {
    border-bottom: 1px solid #ffff;
    padding-bottom: 5px;
}

.social a + a {
    margin-left: 24px;
}

.menu {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.09);
    text-align: center;
    padding: 33px 0;
}

.menu a {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 6px 54px;
}

.menu a + a {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.header {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50vh - 103px);
}

.header p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 33px;
}

.header h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 24px;
    margin-bottom: 24px;
}

.header h2 {
    font-size: 40px;
}

.header h1 span {
    border: 3px solid rgb(255, 255, 255);
    padding: 7px 69px;
    display: inline-block;
}

.grey {
    background: #f8f8f8;
}

.history {
    padding-top: 63px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.elk {
    position: relative;
}

.img_elk {
    position: absolute;
    bottom: 51px;
    left: calc(50% - 135px);
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 53px;
    position: relative;
}

h3::after {
    content: "";
    height: 10px;
    width: 189px;
    position: absolute;
    background: url("../img/history_decor.png");
    bottom: -16px;
    left: calc(50% - 95px);
}

.history_content {
    background-color: white;
    padding: 52px 67px 73px;
    margin-top: -120px;
    position: relative;
    margin-left: 98px;
    margin-right: 98px;
}

.history_content h3 {
    margin-bottom: 40px;
}

.history_content p {
    font-size: 16px;
    color: rgb(128, 127, 127);
    line-height: 1.5;
    margin-bottom: 1em;
}

p.history_last {
    margin-bottom: 40px;
}

.history_hr {
    margin-bottom: 51px;
}

.history_links {
    text-align: center;
}

.link_white {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid rgba(0, 0, 0);
    padding: 16px 36px;
}

.link_orange {
    margin-left: 15px;
    font-size: 16px;
    color: #fff;
    padding: 16px 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid #e6ae48;
    background: #e6ae48;
}

.facts {
    padding: 90px 0 67px;
}

.fact {
    float: left;
    text-align: center;
    width: 25%;
    color: rgb(37, 37, 37);
    padding: 35px 0 43px;
}

.fact_number {
    font-size: 35px;

}

.fact_text {
    font-size: 12px;
    text-transform: uppercase;
}

.fact + .fact {
    border-left: 1px solid rgba(0, 0, 0, 0.9);

}

.clearfix::after {
    content: "";
    clear: both;
}

.features_text {
    width: 50%;
    float: left;
    padding: 50px 15px 0 calc(50% - 570px);
}

.features_img {
    width: 50%;
    float: left;
}

.features_img img {
    width: 100%;

}

.h3_left {
    text-align: left;
    margin-bottom: 75px;
}

.h3_left::after {
    height: 8px;
    width: 64px;
    background: url("../img/arrow1.png");
    left: 0;
}

.features {
    margin-bottom: -4px;
}

.features_title {
    font-size: 30px;
    text-transform: uppercase;
}

.features_undertitle {
    font-size: 20px;
    color: rgb(64, 64, 64);
    font-style: italic;
    margin-bottom: 39px;
}

.features_content {
    color: #807f7f;
    margin-bottom: 43px;
}

.black {
    background: #252525;
    padding: 86px 0 110px;
}

.h3_white {
    color: #fff;
}

.h3_white::after {
    background: url('../img/history%20decor.png');
}

.teams_item {
    float: left;
    width: 360px;
    padding-top: 50px;
    position: relative;

}

.teams_item + .teams_item {
    margin-left: 30px;
}

.teams_hover {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    opacity: 0;
}

.teams_link:hover .teams_hover {
    opacity: 1;
}

.teams_name {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    bottom: 66px;
    left: 19px;
    letter-spacing: 3px;
}

.teams_position {
    font-size: 16px;
    color: rgb(197, 197, 197);
    font-style: italic;
    position: absolute;
    left: 18px;
    bottom: 42px;
}

.teams_position::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -9px;
}

.services_img {
    width: 50%;
    float: left;

}

.services_img img {
    width: 100%;
}

.services_text {
    width: 50%;
    float: left;
    padding: 50px calc(50% - 570px) 0px 84px;
}

.services_item {
    padding-left: 97px;
    position: relative;
}

.services_item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: #e6ae48;
    border-radius: 50%;
    background-image: url('../img/ancor.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.diamond::before {
    background-image: url('../img/diamond.png');
}

.cubes::before {
    background-image: url('../img/cube.png');
}

.services_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.services_content {
    font-size: 16px;
    color: rgb( 128, 127, 127);
    line-height: 1.5;
    margin-bottom: 15px;
}

.review {
    margin-top: -5px;
    padding: 101px 0 94px;
    background: url('../img/lake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #fff;
    position: relative;
    text-align: center;

}

.review_opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;

}

.review .container {
    position: relative;
}

.quote {
    border: 3px solid #fff;
    background: url(../img/quotes.png) 50% no-repeat;
    border-radius: 50%;
    width: 93px;
    height: 93px;
    margin: 0 auto 36px;
}

.review_text {
    font-size: 25px;
    color: rgb( 255, 255, 255);
    font-style: italic;
    line-height: 1.28;
    margin-bottom: 34px;
}

.review_name {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.review_position {
    font-size: 16px;
    color: rgb(128, 127, 127);
    font-style: italic;
}

.recent {
    margin-bottom: -5px;
}

.recent_text {
    float: left;
    width: 50%;
    padding: 30px 15px 30px calc(50% - 570px);
}

.recent_img {
    float: left;
    width: 50%;
}

.recent_category span {
    font-size: 10px;
    letter-spacing: 3px;
    color: rgb(230, 174, 72);
    text-transform: uppercase;
    padding: 9px 15px;
    border: 1px solid;
    display: inline-block;
    margin-bottom: 20px;
}

.recent_title {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.recent_content {
    font-size: 16px;
    color: rgb(128, 127, 127);
    line-height: 1.5;
    margin-bottom: 22px;
}

.recent_date {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.recent_item + .recent_item {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    padding-top: 25px;
}

.recent_item:last-child .recent_date {
    margin-bottom: 0;
}

.work {
    padding: 91px 0 117px;
    clear: both;
}

.work_item {
    float: left;
    width: 33.333%;
    text-align: center;
    height: 200px;
    ;
}

.work_item_last {
    padding-top: 15px;
}

.pricing {
    float: left;
    width: 360px;
    margin-top: 113px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding-bottom: 51px;
    margin-bottom: 30px;
}

.pricing + .pricing {
    margin-left: 30px;
}

.icon {
    width: 63px;
    height: 63px;
    background-color: #fff;
    margin: -29px auto 34px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.icon_rocket {
    background-image: url('../img/racket.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon_camera {
    background-image: url('../img/camera.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon_leaf {
    background-image: url('../img/leaf.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.pricing_header {
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    color: rgb( 255, 254, 254);
    text-transform: uppercase;
    margin-bottom: 28px;
}

.romb {
    height: 9px;
    width: 9px;
    margin: -0px auto 27px;
    background: url('../img/Rectangle%2024.png') 50% no-repeat;
    position: relative;

}

.romb::after,
.romb::before {
    position: absolute;
    height: 1px;
    width: 97px;
    content: "";
    top: 50%;
    background: rgba(255, 255, 255, .08);
}

.romb::after {
    right: -110px;
}

.romb::before {
    left: -110px;
}

.pricing_text {
    font-size: 16px;
    color: rgb( 128, 127, 127);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

.pricing_price {
    font-size: 40px;
    color: rgb( 255, 255, 255);
    text-align: center;
    margin-bottom: 42px;
}

.pricing_price sup {
    font-size: 14px;
    top: -22px;
    margin-right: 9px;
}

.pricing_list {
    font-size: 16px;
    color: rgb( 128, 127, 127);
    text-align: center;
}

.pricing_list li {
    padding: 18px 0;
}

.pricing_list li:nth-child(odd) {
    background: #2c2c2c;
}

.pricing_link {
    text-align: center;
}

.pricing .link_orange {
    margin-top: 45px;
    display: inline-block;

}

.footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 34px 0;
}

.footer a {
    font-size: 10px;
    color: rgb(80, 80, 80);
    text-transform: uppercase;
    padding: 4px 35px;
}

.footer a + a {
    border-left: 1px solid #e6ae48;
}
